/* Compass Settings */
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;

@import "node_modules/capitol-dome/assets/compass/css3";
@import "node_modules/capitol-dome/assets/compass/typography/text/ellipsis";
@import "node_modules/capitol-dome/assets/compass/utilities/general/clearfix";

@import "libs/variables";
@import "libs/bootstrap";
